<% content_for(:head_content) do %>
  <style>
      .user-<%= current_user.id %> {
          background-color: #E0F5FF;
      }
  </style>
<% end %>
<% cache tournament do %>
  <div class="bracket-list-container">
    <div class="large-screen">
      <table class="tables">
        <thead>
        <tr>
          <% headings = @show_eliminated ? ['', 'Name', 'Score', 'Possible', 'Best', 'Final Four', 'Final Four', 'Second', 'Winner'] : ['', 'Name', 'Score', 'Possible', 'Final Four', 'Final Four', 'Second', 'Winner'] %>
          <% headings.map do |heading| %>
            <th><%= heading %></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% with_place(@brackets).each do |(bracket, place, tied)| %>
          <%= render partial: 'bracket_row', locals: { bracket: bracket, place: place + 1, tied: tied } %>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="small-screen">
      <% with_place(@brackets).each do |(bracket, place, tied)| %>
        <%= render partial: 'small_bracket', locals: { bracket:, place: place + 1, tied:, } %>
      <% end %>
    </div>
  </div>
<% end %>