<div class="bracket-container">
  <div class="bracket-heading">
    <h2><%= "#{@bracket.name} (#{@bracket.user.name})" %></h2>
    <div>
      <% if policy(@bracket).update? %>
        <div class="bracket-actions">
          <%= link_to "Edit Bracket", "/brackets/#{@bracket.id}/edit", class: "button edit" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tournament-component">
    <%=
      react("Tournament", props: {
        bracket: {
          name: @bracket.name,
          gameDecisions: @bracket.game_decisions.to_s,
          gameMask: 18446744073709551614.to_s
        },
        tournament: {
          gameDecisions: tournament.game_decisions.to_s,
          gameMask: tournament.game_mask.to_s,
          rounds: tournament.rounds.map {|round|
            {
              name: round.name,
              number: round.number,
              startDate: round.start_date.iso8601,
              endDate: round.end_date.iso8601,
              regions: round.regions
            }
          },
        },
        teams: tournament.teams.map {|team|
          {
            startingSlot: team.starting_slot,
            seed: team.seed,
            name: team.name
          }
        }
      })
    %>
  </div>
</div>
