<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <% if policy(user).show_email? %>
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  <% end %>

</div>
