<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <% if policy(user).show? %>
        <p>
          <%= link_to "Details", user %>
        </p>
    <% end %>
  <% end %>
</div>

<% if policy(@users).new? %>
    <%= link_to "New user", new_user_path %>
<% end %>
