<h5>Pool Settings</h5>
<table>
  <tbody>
  <tr>
    <td>Entry Deadline</td>
    <td><%= tournament.tip_off.localtime.strftime("%A, %B %-d at %l:%M%P %Z") %></td>
  </tr>
  </tbody>
</table>

<h5>Scoring</h5>
<table>
  <thead>
  <tr>
    <th>Round</th>
    <th>Points per Game</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'score', collection: tournament.rounds, as: :round %>
  </tbody>
</table>
<p>
  For all correct picks you get that round's points <em>plus</em> the seed number of the
  team. So, if you pick the 10th-seed team to win in the Sweet 16 round, that would be 13 points if
  correct.
</p>