.edit-bracket-container {
  padding-top: $gutter * 2;

  .edit-bracket-form {
    margin: 0 auto;
    width: 300px;
    padding-bottom: $gutter;
  }

  .button {
    display: inline-block;
    width: 48% !important;
    font-size: 15px;
    font-weight: bold;
  }

  .left-button {
    margin-right: 10px;
  }

  .slot {
    cursor: pointer;

    &:hover {
      background-color: $light-blue;
    }

    z-index: 100;
  }

  @media print {
    padding-top: 0;
    .edit-bracket-form {
      display: none;
    }
  }
}
