@use "../base/variables";

.rules-and-scoring-container {
  padding: variables.$gutter 0;

  .sub-heading {
    font-size: 1.5em;
    padding-top: 25px;
  }

  .tie-breaker-list {
    padding: variables.$half-gutter;
  }
}
