@use "sass:color";
@use "../base/variables";

$badge-font-size: 0.75em !default;
$medium-gray: #999 !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin badge($color: $medium-gray) {
  background-color: $color;
  border-radius: $badge-font-size * 5;
  color: color.adjust($color, $lightness: -60%);
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.user-bracket-list-container {
  padding-top: variables.$gutter * 2;
  min-width: 220px;

  .table-minimal {
    font-size: 0.9em;
    table-layout: auto;
  }

  .no-brackets {
    padding-top: variables.$gutter;
    text-align: center;
  }

  .small-screen {
    display: block;

    @include variables.large-screen {
      display: none;
    }
  }

  .large-screen {
    display: none;

    @include variables.large-screen {
      display: block;
    }
  }

  .actions {
    padding: variables.$gutter 0;
    margin: 0 auto;
    text-align: center;
  }

  .payment-button {
    margin-bottom: calc(variables.$gutter / 2);
  }

  .badge {
    @include badge;
  }

  .badge-alert {
    @include badge($alert-color);
  }

  .badge-error {
    @include badge($error-color);
  }

  .badge-notice {
    @include badge($notice-color);
  }

  .badge-success {
    @include badge($success-color);
  }

  .user-small-bracket {
    .bracket-link {
      display: block;
      color: variables.$font-color--base;
      border-top: 1px solid $medium-gray;
      text-decoration: none;

      &:last-child {
        border-bottom: 1px solid $medium-gray;
        margin-bottom: variables.$gutter;
      }

      padding: calc(variables.$gutter / 2) 0;
    }

    .position {
      display: inline-block;
      margin: 0 calc(variables.$gutter / 2);
      vertical-align: top;
    }

    .final-four-teams {
      display: block;
      font-size: 0.85em;
    }

    .name-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
