.bracket-row {
  margin: $half-gutter 0;

  .current-user-bracket {
    background-color: $light-blue;
  }

  .eliminated {
    text-decoration: line-through;
    color: $middark-gray;
  }

  .position-column {
    width: 70px;
  }

  .name-column {
    width: 210px;
  }
}
