.flash {
  border: 1px solid transparent;
  padding: 15px;
  margin-bottom: 20px;

  &-error {
    @extend .flash;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  &-warning {
    @extend .flash;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &-info {
    @extend .flash;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &-success {
    @extend .flash;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
}
