@use "../base/variables";

.small-bracket {
  a {
    text-decoration: none;
  }
  .bracket-row {
    margin: calc(variables.$gutter / 2) 0;
    display: flex;
  }

  .current-user-bracket {
    background-color: variables.$light-blue;
  }

  .bracket-link {
    display: block;
    color: variables.$font-color--base;
    border-top: 1px solid variables.$medium-gray;
    &:last-child {
      border-bottom: 1px solid variables.$medium-gray;
    }
  }

  .bracket-position {
    display: inline-block;
    margin-right: calc(variables.$gutter / 2);
    width: 2.4em;
    vertical-align: top;
  }

  .bracket-details {
    display: inline-block;
    //width: calc(100% - 65px);
  }

  .bracket-name {
    font-weight: bold;
  }

  .points {
    display: flex;
    font-size: 0.9em;
  }

  .total-points,
  .possible-points {
    display: inline-block;
  }

  .total-points::after {
    margin-right: 4px;
    content: ' points /';
  }

  .possible-points::after {
    content: ' possible';
  }

  .final-four-teams {
    display: inline-block;
    font-size: 0.85em;
    margin-right: 0px;

    &:empty {
      display: none;
    }

    .eliminated {
      text-decoration: line-through;
      color: variables.$middark-gray;
    }
  }

  .best-possible {
    font-size: 0.9em;
  }
}
