@use "../base/variables";

.tournament-component {
  .tournament-body {
    margin-top: 15px;
    height: 1050px;
    position: relative;
  }

  .tournament-heading {
    width: variables.$bracket-width;
  }

  .tie-breaker {
    position: absolute;
    left: 418px;
    top: 600px;
  }

  .rounds-banner {
    font-size: 11px;
    color: #333333;
    border: 1px variables.$whitesmoke;
    border-collapse: collapse;

    .header {
      background-color: #b3d4ef;
      padding: 8px;
      width: 69.4px;
      border: 1px solid variables.$whitesmoke;
    }

    .date-range {
      padding: 8px;
      border: 1px solid variables.$whitesmoke;
      background-color: variables.$whitesmoke;
      text-align: center;
    }
  }

  .eliminated {
    text-decoration: line-through;
    color: variables.$middark-gray;
  }

  .correct-pick {
    font-weight: 500;
    background-color: variables.$light-blue;
  }

  .empty-pick {
    background-color: #fbe3e4;
    &:hover {
      background-color: #fbe3e4 !important;
    }
    cursor: initial !important;
  }

  .round {
    position: absolute;
    top: 0;

    &.round1 {
      width: 950px;
    }

    &.round2 {
      left: 115px;
      width: 720px;
    }

    &.round3 {
      left: 230px;
      width: 490px;
    }

    &.round4 {
      left: 345px;
      width: 260px;
    }

    &.round5 {
      left: 280px;
      width: 380px;
    }

    &.round6 {
      left: 395px;
      width: 150px;
    }
  }

  .region-label {
    display: block;
    position: absolute;
    width: 150px;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;

    &.region1 {
      left: 215px;
      top: 180px;
    }

    &.region2 {
      left: 215px;
      top: 780px;
    }

    &.region3 {
      left: auto;
      right: 215px;
      top: 180px;
      text-align: right;
    }

    &.region4 {
      left: auto;
      right: 215px;
      top: 780px;
      text-align: right;
    }
  }

  .slot {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 4px;
  }

  .slot1 {
    top: 0px;
  }

  .slot2 {
    bottom: 0px;
  }

  .seed {
    color: #777;
    font-size: 10px;
  }

  .match {
    border: 1px solid #444;
    padding: 0;
    width: 114px;
    position: absolute;
    font-size: 12px;

    &.region1,
    &.region2 {
      border-left: 0px;
    }

    &.region3,
    &.region4 {
      border-right: 0px;
      right: 0px;
    }
  }

  .round1 {
    height: 40px;

    &.region1,
    &.region3 {
      &.m1 {
        top: 0;
      }
      &.m2 {
        top: 50px;
      }
      &.m3 {
        top: 100px;
      }
      &.m4 {
        top: 150px;
      }
      &.m5 {
        top: 200px;
      }
      &.m6 {
        top: 250px;
      }
      &.m7 {
        top: 300px;
      }
      &.m8 {
        top: 350px;
      }
    }

    &.region2,
    &.region4 {
      &.m1 {
        top: 600px;
      }
      &.m2 {
        top: 650px;
      }
      &.m3 {
        top: 700px;
      }
      &.m4 {
        top: 750px;
      }
      &.m5 {
        top: 800px;
      }
      &.m6 {
        top: 850px;
      }
      &.m7 {
        top: 900px;
      }
      &.m8 {
        top: 950px;
      }
    }
  }

  .round2 {
    height: 50px;
    margin-top: 10px;

    &.region1,
    &.region3 {
      &.m1 {
        top: 0;
      }
      &.m2 {
        top: 100px;
      }
      &.m3 {
        top: 200px;
      }
      &.m4 {
        top: 300px;
      }
    }

    &.region2,
    &.region4 {
      &.m1 {
        top: 600px;
      }
      &.m2 {
        top: 700px;
      }
      &.m3 {
        top: 800px;
      }
      &.m4 {
        top: 900px;
      }
    }
  }

  .round3 {
    height: 105px;
    margin-top: 20px;

    &.region1,
    &.region3 {
      &.m1 {
        top: 0;
      }
      &.m2 {
        top: 200px;
      }
    }

    &.region2,
    &.region4 {
      &.m1 {
        top: 600px;
      }
      &.m2 {
        top: 800px;
      }
    }
  }

  .round4 {
    height: 200px;
    margin-top: 50px;

    &.region1,
    &.region3 {
      &.m1 {
        top: 0;
      }
    }

    &.region2,
    &.region4 {
      &.m1 {
        top: 600px;
      }
    }
  }

  .round5 {
    height: 75px;
    top: 210px;

    &.m1 {
      left: 0;
      border-left: none;
    }

    &.m2 {
      right: 0;
      border-right: none;
    }
  }

  .round6 {
    height: 75px;
    top: 205px;
    border: none;
    width: 150px;
    padding: 0;

    .slot {
      font-size: 13px;
      height: 25px;
      line-height: 25px;
      padding: 0 10px 0 6px;
    }

    .slot1 {
      border-bottom: 1px solid #666;
      top: 22px;
    }

    .slot2 {
      top: 48px;
      text-align: right;
    }
  }

  .championship {
    position: absolute;
    left: 395px;
    top: 535px;
    width: 150px;
    height: 75px;
    padding: 0;
    border: none;
  }

  .champion-box {
    height: 25px;
    line-height: 25px;
    text-align: center;
    top: 22px;
    font-size: 13px;
    font-weight: bolder;
    padding: 0 10px 0 6px;
    border: 2px solid #666;
  }

  .champion-label {
    height: 25px;
    line-height: 25px;
    text-align: center;
    top: 40px;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
  }

  .sweet-16 {
    $champion-width: 150px;
    $round-shift: 115px;
    $width-shift: 230px;

    $bracket-width: $width-shift * 3 + $champion-width;

    //display: inline-block;
    width: $bracket-width;
    margin: variables.$gutter auto;

    .tournament-heading,
    .tournament-body {
      width: 100%;
    }

    .tournament-body {
      height: 300px;
    }

    .rounds-banner {
      width: $bracket-width;
      text-align: center;
    }

    .round {
      position: absolute;
      top: 0;

      &.round1 {
        width: $bracket-width;
        left: $round-shift * 0;
      }

      &.round2 {
        width: $bracket-width - $width-shift;
        left: $round-shift * 1;
      }

      &.round3 {
        width: $bracket-width - $width-shift * 2;
        left: $round-shift * 2;
      }

      &.round4 {
        width: $bracket-width - $width-shift * 3;
        left: $round-shift * 3;
      }
    }

    .round1 {
      &.region1,
      &.region3 {
        &.m1 {
          top: 0;
        }
        &.m2 {
          top: 50px;
        }
      }

      &.region2,
      &.region4 {
        &.m1 {
          top: 100px;
        }
        &.m2 {
          top: 150px;
        }
      }
    }

    .round2 {
      &.region1,
      &.region3 {
        &.m1 {
          top: 0;
        }
      }

      &.region2,
      &.region4 {
        &.m1 {
          top: 100px;
        }
      }
    }

    .round3 {
      &.m1 {
        left: 0;
        border-left: none;
      }

      &.m2 {
        right: 0;
        border-right: none;
      }
    }

    .round4 {
      border: none;
      width: $champion-width;
      padding: 0;
      margin-top: 20px;

      .slot {
        font-size: 13px;
        height: 25px;
        line-height: 25px;
        padding: 0 10px 0 6px;
      }

      .slot1 {
        border-bottom: 1px solid #666;
        top: 22px;
      }

      .slot2 {
        top: 48px;
        text-align: right;
      }
    }

    .championship {
      left: calc($bracket-width / 2 - $champion-width / 2);
      top: 200px;
    }

    .tie-breaker {
      left: 365px;
      top: 275px;
    }

    .region-label {
      display: none;
    }
  }
}
