@use "sass:color";
@use "../base/variables";

.sessions-controller,
.passwords-controller {
  p.notice {
    text-align: left;
    color: blue;
    border: blue 1px solid;
    padding: calc(variables.$gutter / 4);
    background-color: color.adjust(blue, $lightness: 45%);
  }

  p.alert,
  #error_explanation {
    text-align: left;
    color: darkred;
    border: darkred 1px solid;
    padding: calc(variables.$gutter / 4);
    background-color: color.adjust(darkred, $lightness: 65%);
  }

  #error_explanation {
    h2 {
      display: none;
    }

    margin-bottom: variables.$gutter;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100vh;

    .login-component {
      padding-top: 150px;
      width: 100%;
    }

    .title {
      margin-bottom: 10px;
      font-weight: 600;
      color: #f89507;
      text-shadow: 1px 1px 2px rgba(138, 119, 0, 0.6);
      filter: dropshadow(color=rgba(138, 119, 0, 0.6), offx=1, offy=1);
    }

    .copyright {
      padding-top: 10px;
      color: #999;
      line-height: 1;
      font-size: 12px;
    }

    .box {
      overflow: auto;
      border: 1px solid rgba(186, 111, 4, 0.1);
      border-radius: 3px;
      background-color: rgba(249, 248, 242, 0.9);
      box-shadow: 0px 2px 2px 2px rgba(138, 119, 0, 0.1);
      text-align: center;
      width: 95%;
      padding: 25px;

      @include variables.medium-screen {
        width: 50%;
        max-width: 750px;
      }

      h1 {
        font-family: 'Dosis', sans-serif;
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 30px;

        @include variables.medium-screen {
          font-size: 48px;
        }
      }

      h3 {
        font-family: 'Dosis', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
      }
    }

    .auth-wrapper {
      text-align: left;
      .auth-content {
        //adjustments to devise default views

        h2 {
          margin-bottom: variables.$gutter;
        }

        form {
          margin-bottom: variables.$gutter;
        }

        //devise adds <br> tags to the default HTML
        br {
          display: none;
        }
      }
    }

    .wood-background {
      background-image: url('wood_pattern.png');
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}
