<% content_for :content do %>
  <div class="login-container">
    <div class="wood-background"></div>
    <div class="box">
      <h1 class="title">Pool Madness</h1>
      <h1>NCAA March Madness</h1>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <div class="auth-wrapper">
        <div class="auth-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>