<nav class="left drawer l">
  <header>
    <nav>
      <i>sports_basketball</i>
      <h6>Madness</h6>
    </nav>
  </header>
  <a href="/">
    <i>home</i>
    <div>Home</div>
  </a>
  <a href="/rules.html">
    <i>description</i>
    <div>Rules &amp; Scoring</div>
  </a>
</nav>

<nav class="left m">
  <header>
    <i>sports_basketball</i>
  </header>
  <a href="/">
    <i>home</i>
    <div>Home</div>
  </a>
  <a href="/rules.html">
    <i>description</i>
    <div>Rules &amp; Scoring</div>
  </a>
</nav>

<nav class="bottom s">
  <a href="/">
    <i>home</i>
  </a>
  <a href="/rules.html">
    <i>description</i>
  </a>
</nav>